<table id="tableList" class="display">
					       <thead>
					            <tr>
					                <th>Mã</th>
									<th>Tiêu đề</th>
					                <th>Tác giả</th>
					                <th>Thời gian tạo</th>
					                <th>Thời gian cập nhật</th>
					                <th>Chi tiết</th>
					                <th>Duyệt</th>
					                <th>Xóa</th>
					            </tr>
					        </thead>
					    </table>
<script>
$(document).ready( function () {
	var table = $('#tableList').DataTable({
		"sAjaxSource": window.location.origin+"/api/book/all/enabled",
		"sAjaxDataProp": "",
		"aoColumns": [
			{ "mData": "id"},
			{ "mData": "title" },
			{ "mData": "author" },
			{ "mData": "createdAt"},
			{ "mData": "updatedAt" },
			{ "mData": "id", 
				render: function (dataType) { 
					return '<a href="javascript:void(0)" onclick="getBookDetail('+dataType+')"> Xem</a>'; } 
			},
			{ "mData": "", 
				render: function (data, type, row) {
					if(row.enabled == 1){
						return '<input type="checkbox" value="'+ row.enabled +'" checked onclick="enabled('+row.enabled+','+row.id+')">';
					}else{
						return '<input type="checkbox" value="'+ row.enabled +'" onclick="enabled('+row.enabled+','+row.id+')">';
					}
				},
			 visible:false
			},
			{ "mData": "id", 
			  render: function (dataType) {
						return '<a title="Xóa" onclick="deleteBook('+dataType+')">Xóa</a>';
			  },
			  visible:false
			}
		]
	 });
	 if (($('#checkRoleUser').val() =="isAdmin")){
	        var column = table.column(6);
	        column.visible(true);
	 }
	 if (($('#checkRoleUser').val() =="isAdmin") || ($('#checkRoleUser').val() =="isUser")){
	        var column = table.column(7);
	        column.visible(true);
	 }
});
</script>