<div id="booksListDiv" th:fragment="booksList">
Hiển thị : 
	<select id="numberElementsDisplay">
		<option value="5">5</option>
		<option value="10">10</option>
		<option value="20">20</option>
	</select>
<table id="tableBooksList" class="tableList display">
   <thead>
        <tr>
            <th>Mã <a class="btnSort"><i class="glyphicon glyphicon-triangle-bottom colId"></i></a></th>
			<th>Tiêu đề <a class="btnSort"><i class="glyphicon glyphicon-sort colTitle"></i></a></th>
            <th>Tác giả <a class="btnSort"><i class="glyphicon glyphicon-sort colAuthor"></i></a></th>
            <th>Thời gian tạo</th>
            <th>Thời gian cập nhật</th>
            <th>Chi tiết</th>
            <th sec:authorize="hasAnyRole('USER','ADMIN','SUPER_ADMIN')" >Tình trạng</th>
            <th sec:authorize="hasAnyRole('USER','ADMIN','SUPER_ADMIN')" >Thao tác</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

<div id="Pagination" class="pagination">
	<a href="javascript:void(0);" onclick="moveFirstPage()" id="firstPage">&lt;&lt;</a>
	<a href="javascript:void(0);" onclick="movePreviousPage()" id="previousPage">&lt;</a>   
	<a id="moreBefore" > ... </a >     
	<a href="javascript:void(0);" onclick="movePreviousPage()" id="beforeActive"></a>  
	<a id="pageTitle"  class="active"></a>        
	<a href="javascript:void(0);" onclick="moveNextPage()" id="nextActive"></a>
	<a id="moreAfter" > ... </a>   
	<a href="javascript:void(0);" onclick="moveNextPage()" id="nextPage">&gt;</a>      
	<a href="javascript:void(0);" onclick="moveLastPage()" id="lastPage">&gt;&gt;</a>
</div>

<script>
var CURRENT_URL = window.location.href;
var ROOT_URL = window.location.origin;

var roleUser = "isGuest"; 
if(!($('#checkRoleUser').val() === undefined)){
	roleUser = $('#checkRoleUser').val();
}

var pageSize = 5;
var currentPageIndex = 0;
var pageCount = 0;
var sortBy = 'id';
var startItemIndex = 0;
var itemsToDisplay = 0;
var dir='desc'

displayBooks();
if(CURRENT_URL.search("/bookDetail/") != -1){
	var bookId = CURRENT_URL.substring(CURRENT_URL.lastIndexOf('/') + 1);
	loadBookDetail(bookId);	
}

function PaginateSetPageObjects() {
	$('#pageTitle').text(currentPageIndex + 1);
	if (pageCount <= 1) {
		$('#nextPage').hide();
		$('#previousPage').hide();
		$('#lastPage').hide();
		$('#firstPage').hide();
		$('#moreBefore').hide();
		$('#moreAfter').hide();
		$('#nextActive').hide();
		$('#beforeActive').hide();
	} else {
		$('#nextPage').show();
		$('#previousPage').show();
		$('#lastPage').show();
		$('#firstPage').show();
		$('#moreBefore').show();
		$('#moreAfter').show();
		$('#nextActive').show();
		$('#beforeActive').show();
		if (currentPageIndex == 0) {
			$('#previousPage').hide();
			$('#firstPage').hide();
			$('#moreBefore').hide();
			if(pageCount < 4){
				$('#moreAfter').hide();
			}
			$('#beforeActive').hide();
			$('#nextActive').text(currentPageIndex + 2);
		} else if (currentPageIndex == (pageCount - 1)) {
			$('#nextPage').hide();
			$('#lastPage').hide();
			$('#moreAfter').hide();
			if(pageCount < 4){
				$('#moreBefore').hide();
			}
			$('#beforeActive').text(currentPageIndex);
			$('#nextActive').hide();
		}else if(currentPageIndex == 1){
			$('#beforeActive').text(1);
			$('#nextActive').text(3);
			$('#moreBefore').hide();
			if(pageCount < 4){
				$('#moreAfter').hide();
			}
		}else if(currentPageIndex == (pageCount - 2)){
			$('#beforeActive').text(pageCount - 2);
			$('#nextActive').text(pageCount);
			$('#moreAfter').hide();
			if(pageCount < 4){
				$('#moreBefore').hide();
			}
		}else{
			$('#beforeActive').text(currentPageIndex);
			$('#nextActive').text(currentPageIndex + 2);
		}
	}
}
function moveFirstPage() { currentPageIndex = 0; displayBooks(); }
function moveLastPage() { currentPageIndex = pageCount - 1; displayBooks(); }
function movePreviousPage() { currentPageIndex--; displayBooks(); }
function moveNextPage() { currentPageIndex++; displayBooks(); }

function displayBooks(){
	CURRENT_URL = window.location.href;
	var urlAjax =  ROOT_URL+"/api/books"+"?page="+currentPageIndex+
			"&size="+pageSize+"&sort="+sortBy+","+dir;
	var booksListByUserUrl = ROOT_URL+"/booksListByUser";
	if(CURRENT_URL == booksListByUserUrl ){
		urlAjax = ROOT_URL+"/api/books/byUser"+"?page="+currentPageIndex+
				"&size="+pageSize+"&sort="+sortBy+","+dir;
	}
	var bookSearchUrl = ROOT_URL+"/searchBook";
	if(CURRENT_URL.search(bookSearchUrl) != -1 ){
		var keywordSearch = CURRENT_URL.substring(CURRENT_URL.lastIndexOf('/') + 1);
		//currentPageIndex = 0;
		urlAjax = ROOT_URL+"/api/books/search?page="+currentPageIndex+
				"&size="+pageSize+"&sort="+sortBy+","+dir+"&keyword="+keywordSearch;
	}

	// check id user 
	var idUser = -1;
	$.ajax({
		type : "GET",
		async: false,
		url : window.location.origin+"/api/user/getCurrentUser",
		success: function(result){		
			idUser = result.id;
		},
		error : function(ex) {
			console.log("ERROR: ", ex);
		}
	});
	$.ajax({
		type : "GET",
		url : urlAjax,
		success: function(result){
			$('#successMsg').html('');
			$('#tableBooksList tbody').html("");
			if(result.data == null){
				$('#Content').html('Không có kết quả ');
			}else{
				$.each(result.data.content, function(i, book){
					var bookRow = '<tr>' +
					'<td class="table_id">' + book.id + '</td>' +
					'<td>' + book.title + '</td>' +
					'<td>' + book.author + '</td>' +
					'<td>' + book.createdAt + '</td>' +
					'<td>' + book.updatedAt + '</td>' +
					'<td><a title="Chi tiết" href="javascript:void(0)" '+
						'class="btn detaiBooklBtn btn-sm" onclick="loadBookDetail('+book.id+')">'+
						'<span class="glyphicon glyphicon-eye-open"></span></a></td>' ;
					if(roleUser === 'isUser' ){
						bookRow +='<td>'+ displayStatusRoleUser(book.enabled,book.id) +'</td>';
						if(idUser == book.userId){
							bookRow += '<td>'+
								'<button type="button" class="btn modifyBtn btn-sm"'+ 
								'onclick="loadFormEditBook('+ book.id+')">'+
								'<span class="glyphicon glyphicon-edit"></span> Sửa</button>'+
								'<button type="button" class="btn btn-danger btn-sm"'+
								'onclick="deleteBook('+ book.id+')">'+
								'<span class="glyphicon glyphicon-remove-sign"></span> Xóa</button>'+
							'</td>';
						}else{
							bookRow +='<td></td>';
						}
					}else if(roleUser === 'isSuperAdmin' || roleUser === 'isAdmin'){
						bookRow +='<td>'+ displayStatus(book.enabled,book.id) +'</td>';
						bookRow += '<td>'+
							'<button type="button" class="btn modifyBtn btn-sm"'+
							'onclick="loadFormEditBook('+ book.id+')">'+
							'<span class="glyphicon glyphicon-edit"></span> Sửa</button>'+
							'<button type="button" class="btn btn-danger btn-sm" '+
							'onclick="deleteBook('+ book.id+')">'+
							'<span class="glyphicon glyphicon-trash"></span> Xóa</button>'+
						'</td>';
					}
						
					bookRow +='</tr>';
					
					$('#tableBooksList tbody').append(bookRow);
		        });
				$('#successMsg').html(result.status);
				currentPageIndex = result.data.pageable.pageNumber;
				pageCount = result.data.totalPages;
				PaginateSetPageObjects();
			}
				
		},
		error : function(e) {
			alert("ERROR: ", e);
			console.log("ERROR: ", e);
		}
	});
}

function displayStatus(status,bookId){
	var select = '';
    if(status){
    	 select += '<button class="changeEnabledBtn btn btn-success btn-sm" '+
    	 		'value="1"> Kích hoạt </button>';
    }else{
    	select += '<button class="changeEnabledBtn btn btn-danger btn-sm" '+
    			'value="0"> Đang Khóa </button>';
    }
    return select;
}

function displayStatusRoleUser(status,bookId){

	var select = '';
    if(status){
    	 select += '<span style="color:#4169E1">Kích hoạt</span>';
    }else{
    	select += '<span style="color:#8B0000">Đang  Khóa</span></td>';
    }
    return select;
	
}

function checkBookOwned(id){
	
}

function changeStatusBook(st, id){
	$.ajax({
	  url: window.location.origin+"/api/books/enabled/"+id,
      type: 'POST',
      cache: false,
      data: {
        status : st
      },
      success: function(result){
      	$('.notiMsg').html(result.status);
  		setTimeout(function(){ $('.notiMsg').html("")}, 5000);
  	  }
	});
}

$("#tableBooksList thead").on("click",".btnSort",function(){
	 var choose = $(this).find('i');
	 if(choose.hasClass('colId')){
		 sortBy = 'id';
	 }else if(choose.hasClass('colTitle')){
		 sortBy = 'title';
	 }else if(choose.hasClass('colAuthor')){
		 sortBy = 'author';
	 }
	 if(choose.hasClass('glyphicon-sort')){
		 $(this).find('i').removeClass('glyphicon-sort')
		 				  .addClass('glyphicon-triangle-bottom');
	 }else{
		 $(this).find('i').toggleClass('glyphicon-triangle-top')
		  				  .toggleClass('glyphicon-triangle-bottom');
	 }
	 $("#tableBooksList thead a").not(this).each(function(){
		 $(this).find('i').removeClass('glyphicon-triangle-top').addClass('glyphicon-sort');
		 $(this).find('i').removeClass('glyphicon-triangle-bottom').addClass('glyphicon-sort');
     });
	 if(choose.hasClass('glyphicon-triangle-top')){
		 dir = 'asc';
	 }else{
		 dir = 'desc';
	 }
	 displayBooks();
  });
  
$("#tableBooksList tbody").on("click",".changeEnabledBtn",function(){
 var currentPosition = $(this);
 var id = currentPosition.closest('td').parent().find('.table_id').text();
 var st = currentPosition.val();
 var confirmMsg = confirm("Bạn có muốn thay đổi tình trạng cuốn sách này ?");
 if(confirmMsg == true){
 $.ajax({
	  url: window.location.origin+"/api/books/enabled/"+id,
     type: 'POST',
     cache: false,
     data: {
       status : st
     },
     success: function(result){
     	$('.notiMsg').html(result.status);
 		setTimeout(function(){ $('.successMsg').html("")}, 5000);
 		currentPosition.closest('td').html(displayStatus(result.data.enabled,result.data.id));
 	  }
	});	
 }
 }); 
  
$('#numberElementsDisplay').on('change', function() {
	pageSize = this.value;
	moveFirstPage();
});
</script>
</div>