<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
	<meta charset="utf-8" />
	<title>Trang chủ</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
	<script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
	<script src="/js/myJavascript.js"></script> 
	<link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/formStyle.css"/>
    <link rel="stylesheet" href="/css/myStyle.css"/>
</head>
<script>
$(document).ready( function () {
	var url = window.location.href;
	var rootUrl = window.location.origin;
	var home = window.location.origin+"/";
	var booksList = window.location.origin+"/booksList";
	var bookDetail = "";
	var check = url.search("bookDetail");
	if(check != -1){
		bookDetail = url;
	}
	switch(url) {
	    case home:
	    	$.ajax({url:window.location.origin+'/booksListPage',success:function(result){
	    	      $("#Content").html(result);
	    	    }});
	        break;
	    case booksList:
	    	$.ajax({url:window.location.origin+'/booksListPage',success:function(result){
	    	      $("#Content").html(result);
	    	    }});
	        break;
	    case bookDetail:
	        var bookId = bookDetail.substring(url.lastIndexOf('/') + 1);
	    	getBookDetail(bookId);
	        break;
	    default:
	    	alert("error");
	        break;
	}
});
</script>
<body>
	<input id="checkRoleUser" type="hidden" sec:authorize="hasRole('ADMIN')" value="isAdmin"/>
	<input id="checkRoleUser" type="hidden" sec:authorize="hasRole('USER')" value="isUser"/>
    <div class="navbar navbar-static-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="">THƯ VIỆN SÁCH</a>
			</div>
				
			<form class="navbar-form navbar-left" action=""  method="POST" >
				<div class="form-group">
					<input type="text" name="keyword" class="form-control" >
				</div>
				<button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
				Tìm kiếm theo : 
					<select name="searchBy" style="color:black">
						<option value="all_field">Tất cả</option>
						<option value="title">Tiêu đề</option>
						<option value="author">Tác giả</option>
					</select>
			</form>
     		<ul class="nav navbar-nav navbar-right">
		      <li><label>Hi! <span sec:authentication="name"></span> </label></li>
		      <li><a href="#" sec:authorize="isAnonymous()"><span class="glyphicon glyphicon-log-in"></span>Đăng kí</a></li>
		      <li><a href="/login" sec:authorize="isAnonymous()"><span class="glyphicon glyphicon-log-in"></span>Đăng nhập</a></li>
		      <li><a href="javascript:void(0)" onclick="loadUserProfile()" sec:authorize="hasAnyRole('USER','ADMIN')">Đổi mật khẩu</a></li>
		      <li><a th:href="@{/logout}" sec:authorize="hasAnyRole('USER','ADMIN')">Đăng xuất</a></li>
		    </ul>
		</div>
	</div>
	<div class="container main-container" id="menubar">
		<a class="btn btn-md btn-default" href="/booksList">
 		 	<span>Toàn bộ sách</span>
        </a> 
      	<a class="btn btn-md btn-primary" href="javascript:void(0)" onclick="addBookPage()" sec:authorize="hasAnyRole('USER','ADMIN')">
 		 	<span>Thêm sách</span>
         </a>
         <a class="btn btn-md btn-default" href="javascript:void(0)" onclick="censorshipBook()" sec:authorize="hasRole('ADMIN')">
 		 	<span>Duyệt sách</span>
         </a>
         <a class="btn btn-md btn-primary" href="javascript:void(0)" onclick="getBooksListByUser()" sec:authorize="hasAnyRole('USER','ADMIN')">
 		 	<span>Sách của bạn</span>
         </a>
         <p class="notiMsg error"></p>
	</div>
	<div class="container main-container">
		<div class="panel panel-default">
	 		<div class="panel-body">
	 			 <div id="Content" > </div>
	 			 <div id="otherContent" > </div>
 			</div>
	 		</div>
 	</div>
	
    
</body>
</html>