<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="UTF-8" />
<title>Home</title>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <script src="/js/jquery.js"></script>
	  <script src="/js/myJavascript.js"></script>
      <script src="/js/bootstrap.min.js"></script>
      <link rel="stylesheet" href="/css/bootstrap.min.css"/>
      <link rel="stylesheet" href="/css/formStyle.css"/>
      <link rel="stylesheet" href="/css/myStyle.css"/>
   
      
</head>
<body>  
    <div class="navbar navbar-static-top" id="header-part"></div>
	<div class="container main-container">
		<div class="panel panel-default">
	 		<div class="panel-body">
	 			 <div id="Content" style="display:block;"></div>
	 		</div>
	 		
	 	</div>
 	</div>
 	<script>
 	
 	</script>
 	
</body>
</html>