<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
	<meta charset="utf-8" />
	<title>Trang chủ</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
	<script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
	<script src="/js/myJavascript.js"></script> 
	<link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/formStyle.css"/>
    <link rel="stylesheet" href="/css/myStyle.css"/>
</head>
<script>

$(document).ready( function () {
	 $("#tableList tbody").on("click",".changeEnabledBtn",function(){
		    //$(this).closest('td').html(1);
		 var text = $(this).closest('td').parent().find('.table_status').text();
		 var v = $(this).val();
		 alert(text+","+v);
		  }); 
	 $.ajax({
		type : "GET",
		url : window.location.origin+"/api/book/all?page=1&size=5",
		success: function(result){
				$.each(result.data.content, function(i, book){
					var bookRow='<tr><td class="table_id">'+book.id+'</td>'+displayStatus(book.enabled,book.id)+'</tr>';
					$('#tableList tbody').append(bookRow);
					
		        });
				$("#btntest").click(function(){
				    alert("The paragraph was clicked.");
				}); 
		},
		error : function(e) {
			alert("ERROR: ", e);
			console.log("ERROR: ", e);
		}
	}); 
});
function doCheck(status,bookId){
	var select = '<select id="statusBook" onchange="changeStatusBook(this.value,'+bookId+')">';
    if(status){
    	 select += '<option value="1" selected="selected" style="color:red">Hiện</option>'+
			'<option value="0" class="choose2">Ẩn</option>';
    }else{
    	select += '<option value="1" class="choose1">Hiện</option>'+
		'<option value="0" selected="selected" class="choose2">Ẩn</option>';
    }
    select += '</select>';
    return select;
}

function displayStatus(status,bookId){
	var btnStatus = '';
	
    if(status){
    	btnStatus += '<td class="table_status">'+ 
		'<button class="changeEnabledBtn btn btn-success" value="1"> Hiện </button>' +'</td>' + 
		'';
    }else{
    	btnStatus += '<td class="table_status">'+ 
		'<button class="changeEnabledBtn btn btn-danger" value="0"> Ẩn </button>' +'</td>' + 
		'';

    }
    return btnStatus;
}
function changeStatusBook(st, id){
	$.ajax({
	  url: window.location.origin+"/api/book/enabled/"+id,
      type: 'POST',
      cache: false,
      data: {
        status : st
      },
      success: function(result){
      	$('.notiMsg').html(result.status);
  		setTimeout(function(){ $('.notiMsg').html("")}, 5000);
  	  }
	});	
	
}
</script>
<body>
	<table id="tableList" class="display">
       <thead>
            <tr>
            	<th>id</th>
                <th>Tình trạng</th>
            </tr>
        </thead>
        <tbody>
         <tr>
         	<th class="table_id">id</th>
            <td class="table_status"><button class="changeEnabledBtn" >A</button></td>
            </tr>
        </tbody>
    </table>
</body>
</html>